footer{
    grid-row: 3;
    background-color: $footer;
    //solo copyright
        //text-align center
    //stile copyright
    //img dei link
        //heigt
        //width auto
        display: flex;
        justify-content: center;
   }