footer{
    background-color: $footer;
    text-align: center;
    padding: $med;
    margin-top: 50px;

    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0;
        margin: 0;
        
        img{
            height: 40px;
            width: auto;
            object-fit: cover;
            border-radius: 100%;
            padding: 0 $max;
        }
    }
}