@import 'colors';
@import 'formats';
@import 'header';
@import 'home';
@import 'footer';
@import 'projects';
@import 'about';
@import 'contacts';
@import 'cv';

body{
    margin: 0;
    background-color: $body !important;
    color: $text;
}

.grid-conteiner{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

body, p, li {
    font-family: 'Roboto', sans-serif;
}

p{
    line-height: 1.5;
}

ul{
    line-height: 1.5;
}

h2{
    margin-top: 50px !important;
}

main{
    flex: 1;
    padding-top: 68px;
}

.header-custom a{
    text-decoration: none;
    color: $link;
}


@media (max-width: 48em){//mobile
    .hero h1{
        font-size: 9vw;
    }

    .hero p{
        font-size: 4vw;
    }

    .hero button{
        font-size: 4vw;
    }
}

@media (min-width: 48em){ //desktop
    .header-custom li{
        float: left;
    }

    .header-custom .menu{
        clear: none;
        float: right;
        max-height: 0;
        max-height: none;
        overflow: visible;
        display: flex;
        flex-direction: row;
    }

    .header-custom .menu-icon{
        display: none;
    }
    
    .hero h1{
        font-size: 4.7vw;
    }

    .hero p{
        font-size: 2vw;
    }

    .hero button{
        font-size: 1.7vw;
    }
}