@import 'colors';
@import 'formats';
@import 'header';
@import 'home';
@import 'footer';

.grid-conteiner{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100%;
}

/*font-family*/
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h2{
    margin-top: 50px !important;
}

body, p, li {
    font-family: 'Roboto', sans-serif;
}


body{
    margin: 0;
    background-color: $body !important;
    color: $text; 
}



.header-custom a{
    text-decoration: none;
    color: $link;
}


@media (max-width: 48em){//mobile
    .hero h1{
        font-size: 9vw;
    }

    .hero p{
        font-size: 4vw;
    }

    .hero button{
        font-size: 4vw;
    }

    //button responsive
    //p con grandezze responsive
    //padding responsive

    //foto about responsive

    //titolo h2 responsive
    //1.5em -> 1.5vw
}

@media (min-width: 48em){ //desktop
    .header-custom li{
        float: left;//??
    }

    .header-custom .menu{
        clear: none;//??
        float: right;
        max-height: 0;
        max-height: none;
        overflow: visible;
        display: flex;
        flex-direction: row;
    }

    .header-custom .menu-icon{
        display: none;//??
    }
    
    .hero h1{
        font-size: 4.7vw;
    }

    .hero p{
        font-size: 2vw;
    }

    .hero button{
        font-size: 1.7vw;
    }

    //p con grandezze responsive
    //padding responsive

    //foto about responsive

    //titolo h2 responsive
}

