@import 'colors';
@import 'formats';

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $body;
}

.grid-conteiner{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

a{
    color: $link-h;
    text-decoration: none;
}

.header{
    grid-row: 1;
    background-color: $header;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 1;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: $header;

        a{
            display: block;
            padding: 20px;
            text-decoration: none;
        }
        a:hover{
            background-color: $hover;
        }
    }
    .logo{
        float: left;
        font-size: 25px;
        padding: 10px 20px;
    }
    .menu{
        clear: both; /*toglie la regola del float che incide sul menu*/
        max-height: 0; /*nasconde il menu per fare si che non si veda da mobile*/
        transition: max-height .2s ease-out;
    }
    .menu-icon{
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;

        .nav-icon{
            background-color: $link-h;
            display: block;
            width: 18px;
            height: 2px;
            position: relative;
            transition: background-color .2s ease-out;
        }
        .nav-icon::before,
        .nav-icon::after{
            background-color: $link-h;
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            transition: all .2s ease-out;
            position: absolute;
            top: 5px;
        }
        .nav-icon::before{
            top: 5px;
        }
        .nav-icon::after{
            top: -5px;
        }
    }
    .menu-btn{
        display: none;/*display e' il modo in cui gli elementi vengono fatti vedere a schermo*/
    }
    .menu-btn:checked ~ .menu{/*mi devi fare effetto su un fratello della checkbox*/
        max-height: 240px;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0;
    }
}

@media (min-width: 48em){/*deve essere come mimimo 48 senno vai in modalita mobile*/
    .header li{
        float: left;
    }

    .header li a{
        padding: 20px 30px;
    }

    .header .menu{
        clear: none;/*lo porta invece che sotto accanto al logo*/
        float: right;
        max-height: 0;
    }

    .header .menu-icon{
        display: none;
    }
}

//@media (max-width: 48em){
    /*togliere overflow per far vedere il menu*/
//}

/*aggiungere lo switch per la lingua*/

main{
    grid-row: 2;
    .hero{
        background: url('https://i.pinimg.com/736x/b4/1a/8a/b41a8acccf85813efcddf1d93061ecc6.jpg') no-repeat center center/cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text;
        h1{
            margin-bottom: $min;
            font-size: 3rem;
        }
        button{
            border-radius: $bottone;
            padding: $min $med;
            font-size: 1.2rem;
            background: $header;
            border: none;
            cursor: pointer;
        }
        button:hover{
            background-color: darken($header, $amount);
        }
    }
}