@import '../assets/scss/colors';
@import '../assets/scss/formats';


main{
    #contacts{
        h1{
            margin-top: 50px;
            margin-bottom: 0;
            text-align: center;
            color: $link;
        }
    
        p{
            display: flex;
            text-align: center;
            margin: $max auto;
            width: 70%;
        }
    
        @media (min-width: 48em){//desktop
            h1{
                font-size: 3em;
            }
        }
    }
}

.contacts-footer{
    background-color: $footer;
    text-align: center;
    padding: $med;
    margin-top: 50px;

    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0;
        margin: 0;
        
        img{
            height: 40px;
            width: auto;
            object-fit: cover;
            border-radius: 100%;
            padding: 0 $max;
        }
    }
    @media (min-height: 800px){
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    //@media (max-width: 48em){ non ha portato a nulla, ma se si cambia  relative forse si puo trovare soluzione
        //position: relative !important;
    //}
}